@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Movie

<div class="text-center">
    <h1>Edit Movie</h1>
</div>

<form method="post">
    <input type="hidden" asp-for="MovieID" />
    <br />
    <label asp-for="Category">Category</label>
    <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"))">
        <option value="">-- Select Category --</option>
    </select>
    <br />
    <label asp-for="Title">Title</label>
    <input asp-for="Title" />
    <br />
    <label asp-for="Year">Year</label>
    <input asp-for="Year" />
    <br />
    <label asp-for="Director">Director</label>
    <input asp-for="Director" />
    <br />
    <label asp-for="Rating">Rating</label>
    <select asp-for="Rating" name="rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br />
    <label asp-for="Edited">Edited</label>
    <select asp-for="Edited">
        <option value="">(Select)</option>
        <option value="true">Yes</option>
        <option value="false">False</option>
    </select>
    <br />
    <label asp-for="LentTo">Lent To:</label>
    <input asp-for="LentTo" />
    <br />
    <label asp-for="CopiedToPlex">Copied to Plex</label>
    <select asp-for="CopiedToPlex">
        <option value="">(Select)</option>
        <option value="true">Yes</option>
        <option value="false">False</option>
    </select>
    <br />
    <label asp-for="Notes">Notes</label>
    <input asp-for="Notes" maxlength="25" />
    <br />
    <button type="submit">Update</button>
</form>
